@{
    ViewBag.Title = "Home Page";
}


<div id="header">
    <div class="container">
        <h1>Careers & Education</h1>
        <h2 class="subtitle">This project is developed to support the students, build their career and find pathways to higher education. Students can start looking for internships, part time jobs, industry based learning, scholarship jobs, etc. to gain relevant experience while studying. Providing students with personalised job board, discussion forums, notifications and news feed based on individual interests. High school students can find the right resources to pursue higher studies. They can get information about their choice of study like the list of the universities offering specific courses, contact information, application process, etc. Organizations can post job ads and look for potential candidates for specific roles based on different criteria.</h2>
        <form class="form-inline signup" role="form">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search"/>
            </div>
            <button type="submit" class="btn btn-theme">Get it now</button>
        </form><br><br><br><hr />
        <div class="row">
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>First part</h2>
                    <p>
                        First part.
                    </p>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>Second part</h2>
                    <p>
                        Second part.
                    </p>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <h2>Third part</h2>
                    <p>
                        Third part.
                    </p>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><hr />
    <div id="footer">
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year - Careers & Education</p>
            </footer>
        </div>
    </div>

</div>


