
<h4>Use DeakinSync to log in.</h4>
<hr />
        <div>
            <p>
                There are no external authentication services configured. <!--See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.-->
            </p>
        </div>
   