@if (Session["email"]!=null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Session["email"] + "!", "Index", "Home")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
 {   <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Register <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Student", "S_Register", "Account", routeValues: null, htmlAttributes: new { id = "s_registerLink" })</li>
                <li>@Html.ActionLink("Organization", "O_Register", "Account", routeValues: null, htmlAttributes: new { id = "o_registerLink" })</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
